# CKAN/Keycloak configuration
# Copy to a .env file to use during tests

# ckan.ini: ckanext.keycloak.server_url
CKANEXT__KEYCLOAK__SERVER_URL=""
# ckan.ini: ckanext.keycloak.client_id
CKANEXT__KEYCLOAK__CLIENT_ID=""
# ckan.ini: ckanext.keycloak.realm_name
CKANEXT__KEYCLOAK__REALM_NAME=""
# ckan.ini: ckanext.keycloak.redirect_uri
CKANEXT__KEYCLOAK__REDIRECT_URI=""
# ckan.ini: ckanext.keycloak.client_secret_key
CKANEXT__KEYCLOAK__CLIENT_SECRET_KEY=""

# For fork on group membership propagation:
# New parameter to enable permissive mode for user membership propagation
# ckan.ini: ckanext.keycloak.user_membership_permissive
CKANEXT__KEYCLOAK__USER_MEMBERSHIP_PERMISSIVE=""
# New parameter to configure default user capacities on a group (if not specified in the Keycloak role)
# ckan.ini: ckanext.keycloak.user_membership_capacity_default
CKANEXT__KEYCLOAK__USER_MEMBERSHIP_CAPACITY_DEFAULT="dataset"  # accepted: dataset, member, editor, admin; default: dataset
# New parameter to configure dataset collaborators cleanup mode
# ckan.ini: ckanext.keycloak.dataset_collaborators_cleanup_mode
CKANEXT__KEYCLOAK__DATASET_COLLABORATORS_CLEANUP_MODE="restricted"  # accepted: disabled, member, restricted, complete; default: restricted

# For test script:
# New parameter to filter Keycloak roles which will be converted to CKAN groups
CKANEXT__KEYCLOAK__CKAN_GROUP_PREFIX="CKAN_GROUP_"
# Additional user login info
CKANEXT__KEYCLOAK__TEST_USER_NAME=""
CKANEXT__KEYCLOAK__TEST_USER_PASSWORD=""
CKANEXT__KEYCLOAK__TEST_USER_TOKEN=""
# CKAN configuration
CKAN_URL="https://demo.ckan.org/"
CKAN_API_KEY=""

