# CKAN/Keycloak configuration
# Copy to a .env file to use during tests

# ckan.ini: ckanext.keycloak.server_url
CKANEXT__KEYCLOAK__SERVER_URL=""
# ckan.ini: ckanext.keycloak.client_id
CKANEXT__KEYCLOAK__CLIENT_ID=""
# ckan.ini: ckanext.keycloak.realm_name
CKANEXT__KEYCLOAK__REALM_NAME=""
# ckan.ini: ckanext.keycloak.redirect_uri
CKANEXT__KEYCLOAK__REDIRECT_URI=""
# ckan.ini: ckanext.keycloak.client_secret_key
CKANEXT__KEYCLOAK__CLIENT_SECRET_KEY=""

# For fork on group membership propagation:
# New parameter to enable permissive mode for user membership propagation
# ckan.ini: ckanext.keycloak.user_membership_permissive
CKANEXT__KEYCLOAK__USER_MEMBERSHIP_PERMISSIVE=""

# For test script:
# New parameter to filter Keycloak roles which will be converted to CKAN groups
CKANEXT__KEYCLOAK__CKAN_GROUP_PREFIX="CKAN_GROUP_"
# Additional user login info
CKANEXT__KEYCLOAK__TEST_USER_NAME=""
CKANEXT__KEYCLOAK__TEST_USER_PASSWORD=""
CKANEXT__KEYCLOAK__TEST_USER_TOKEN=""

